body {
    margin: 0;
    padding: 0;
}

.header {
    position: sticky;
    top: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    background-color: #ffffff;
}

.burger-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 10px;
}

.logo {
    max-width: 80px;
    position: relative;
    left: 60%;
    
}

.mainMenu {
    display: none;
}

.opened .mainMenu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
}

.closeMenu {
    text-align: right;
    margin-top: 10px;
}

.closeMenu i {
    cursor: pointer;
}

.line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}
.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}
.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}
.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}